@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Abel";
  color: #171214;
  list-style: none;
}


* h1{
font-size: 40px;
  font-weight: 400;

}

p {
  font-size: large;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  background-color: #f7f8f7;
}

header a {
  color: #171214;
  text-decoration: none;
}

.ImagemHeader {
  width: 10px;
}

main {
  background-color: #cafad9;
  display: flex;

  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-around;
  height: 60vh;
  padding: 300px;
  
}

#InfosHome {
  display: flex;
  flex-direction: column;
  
  
}

#InfosHome * {
  font-size: x-large;
  margin-top: 10px;
}
#InfosHome h1 {
  font-size: 50px;
  font-weight: 400;
}







button {
  padding: 10px 20px 10px 20px;
  margin: 10px;
  margin-bottom: 40px;
  border-color: #171214;
  border-radius: 30px;
  background-color: #cafad9;
}

button:hover {
  background-color: #7622d7;
  color: #f7f8f7;
}

#ImagemHome {
  width: 500px;
}

#ImagemHome img {
  width: 80%;
}


#certificados{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 70px;
background-color: rgb(235, 235, 235);

}

#certificados h1{

text-align: center;


}



#certificados ul{

display: flex;
margin-top: 20px;
align-items: center;


}

.SetaCertificados{

width: 20px;

}

#Fotos{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;


}

#Photos img{

width: 100px;


}


#Photos{

align-items: center;
justify-content: space-around;
width: 80%;

}


#right{

width: 40%;



}


#Guia img{

width: 100%;
height: 400px;


}








.leiaMais{

position: relative; 
right: -10px;
bottom: -20px;
  display: flex;
  align-items: center;




}

.leiaMais img {

width: 10px;

}



#Photos{
display: flex;
align-items: center;


}

#left{
  display: flex;
  width: 40%;
  background-color: #f7f8f7 ;
  align-items: center;
  justify-content: center;

}









